<!DOCTYPE html>
<html lang="en" ng-app="Pixxie" page="{{page}}">
<head>
    <meta charset="UTF-8">
    <title>Pixxie</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/stylesheets/application.css">
</head>
<body ng-if="l != undefined" ui-view>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="assets/javascripts/pixxie.bundle.js"></script>
</body>
</html>