<div id="sidebar">
    <nav class="sidebar">
        <div class="sidebar-info">
            <div class="account">
                <a href="#">
                    <div class="account-user">
                        <h4>Flavio Tulino</h4>
                        <h6 class="profile-link">{{l.sidebar.goToProfile}}</h6>
                    </div>
                    <div class="account-image">
                        <img class="img-circle"
                             src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/005/0ac/271/3e75071.jpg">
                    </div>
                </a>
            </div>
        </div>

        <div class="sidebar-content">
            <ul>
                <li><a href="javascript:void(0)">Item 1</a></li>
                <li><a href="javascript:void(0)">Item 2</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 1</a></li>
                <li><a href="javascript:void(0)">Item 2</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
                <li><a href="javascript:void(0)">Item 3</a></li>
            </ul>
        </div>
    </nav>

    <div class="sidebar-backdrop"></div>
</div>


