<page>
    <h2 class="text-center">{{l.login.welcome}}</h2>

    <form ng-submit="login.submit()">

        <div class="form-group">
            <label for="emailInput">{{l.login.form.emailLabel}}</label>
            <input type="email"
                   class="form-control"
                   id="emailInput"
                   ng-model="login.model.email"
                   ng-required="true"
                   placeholder="{{l.login.form.emailPlaceholder}}">
        </div>
        <div class="form-group">
            <label for="passwordInput">{{l.login.form.passwordLabel}}</label>
            <input type="password"
                   class="form-control"
                   id="passwordInput"
                   ng-model="login.model.password"
                   ng-required="true"
                   placeholder="{{l.login.form.passwordPlaceholder}}">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="login.model.rememberMe"> {{l.login.form.rememberMe}}
            </label>
        </div>
        <button type="submit" class="btn btn-primary">{{l.login.form.button}}</button>
    </form>

</page>