@import "import";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body, html, .container:first-of-type {
  height: calc(100% - #{$navbar-height});
}

body {
  font-family: 'Roboto', sans-serif;
  margin-top: $navbar-height;
}

button {
  @include material-box-shadow();
  &:focus,&:active,&:visited {
    outline: 0 !important;
  }
}

